@charset "utf-8";

// base part

// background
$base-background-color: '';

// font
$base-font-family: '';
$base-font-size: 14pt;
$base-line-height: 1.5;

// smaller part
$small-font-size: $base-font-size * 0.875;

// code part
$mono-font-family: 'Source Code Pro';
