<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/favicon.png" rel="icon">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- css part -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href='http://fonts.font.im/css?family=Chewy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.font.im/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='http://fonts.font.im/css?family=Noto+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.font.im/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
</head>