<!DOCTYPE html>

<html>
{% include head.html %}

<body>
    {% include header.html %}
    <div style="width: 100%;min-height: 17em;padding-bottom: 2em; background-color: gray;flex-direction: column;align-items: center;">
        {% for my_post in site.posts %}
        <!-- not contain the css page -->
        <div style="flex-direction: column; align-items: center;">
            <div style="padding: 0.5em 3em; margin: 1em; width: 17em; background-color: burlywood;border-radius: 1em;flex-direction: column;align-items: center;">
                <a style="font-size: 2em;color: #3f3f3f;" class="page-link" href="{{ my_post.url }}">
                    <span style="color:rgb(26, 26, 26);">{{ my_post.navtitle | default: my_post.title | default: my_post.path | escape }}</span>
                </a>
            </div>

            <div style="height: 10em;margin: 1em;width: 40em; background-color: azure; border-radius: 0.5em;">

            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>